<footer>
    <section class="sec-all">
        <div class="sec-1 section">
            <p class="sec-p">support</p>
            <a>Help Centre</a>
            <a>AirCover</a>
            <a>Anti-discrimination</a>
            <a>Disability support</a>
            <a>Cancellation options</a>
            <a>Report neighbourhood concern</a>
        </div>
        <div class="sec-2 section">
            <p class="sec-p">Hosting</p>
            <a>Airbnb your home</a>
            <a>AirCover for Hosts</a>
            <a>Hosting resources</a>
            <a>Community forum</a>
            <a>Hosting responsibly</a>
        </div>
        <div class="sec-3 section">
            <p class="sec-p">Airbnb</p>
            <a>Newsroom</a>
            <a>New features</a>
            <a>Careers</a>
            <a>Investors</a>
            <a>Airbnb.org emergency stays</a>
        </div>
    </section>
    <hr>
    <div class="f-info">
        <div class="f-info-brand">&copy; WanderLust Private Limited, Inc.</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a> &nbsp; &nbsp;
            <a href="/terms">Terms</a> &nbsp; &nbsp;
            <a href="/privacy">Sitemap</a> &nbsp; &nbsp;
            <a href="/terms">Company details</a>
        </div>

        <div class="f-info-socials">
                <i class="fa-brands fa-square-facebook"></i>
                <i class="fa-brands fa-square-instagram"></i>
                <i class="fa-brands fa-linkedin"></i>
        </div>
    </div>
</footer>