<footer>
    <section class="bg-sec">
        <div class="airbnb-thai">
            <a href="#">Airbnb &nbsp; >&nbsp;</a>
            <a href="#">&nbsp;Thailand &nbsp; >&nbsp;</a>
            <a href="#">&nbsp;Phuket Region &nbsp; >&nbsp;</a>
            <a href="#">&nbsp;Mueang Phuket District &nbsp; >&nbsp;</a>
            <a href="#">&nbsp;Rawai &nbsp; >&nbsp;</a>
        </div>
    </section>
    <section class="sec-all">
        <div class="sec-1 section">
            <p class="sec-p"><b>support</b></p>
            <a href="#">Help Centre</a><br>
            <br>
            <a href="#">AirCover</a><br>
            <br>
            <a href="#">Anti-discrimination</a><br>
            <br>
            <a href="#">Disability support</a><br>
            <br>
            <a href="#">Cancellation options</a><br>
            <br>
            <a href="#">Report neighbourhood concern</a>
        </div>
        <div class="sec-2 section">
            <p class="sec-p"><b>Hosting</b></p>
            <a href="#">Airbnb your home</a><br>
            <br>
            <a href="#">AirCover for Hosts</a><br>
            <br>
            <a href="#">Hosting resources</a><br>
            <br>
            <a href="#">Community forum</a><br>
            <br>
            <a href="#">Hosting responsibly</a>
        </div>
        <div class="sec-3 section">
            <p class="sec-p"><b>Airbnb</b></p>
            <a href="#">Newsroom</a><br>
            <br>
            <a href="#">New features</a><br>
            <br>
            <a href="#">Careers</a><br>
            <br>
            <a href="#">Investors</a><br>
            <br>
            <a href="#">Airbnb.org emergency stays</a>
        </div>
    </section>

    <div class="f-info">
        <div class="f-info-brand">&copy; WanderLust Private Limited, Inc.</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a> &nbsp; &nbsp;
            <a href="/terms">Terms</a> &nbsp; &nbsp;
            <a href="/privacy">Sitemap</a> &nbsp; &nbsp;
            <a href="/terms">Company details</a>
        </div>

        <div class="f-info-socials">
                <i class="fa-brands fa-square-facebook"></i>
                <a href="https://github.com/uzairhk16"><i class="fa-brands fa-square-github"></i></a>
                <a href="https://www.linkedin.com/in/uzair-khan-81a984268/"><i class="fa-brands fa-linkedin"></i></a>
        </div>
    </div>
</footer>