<footer>
    <section>
        <hr>
        <div class="airbnb-thai">
            <a href="#">Airbnb &nbsp; ></a>
            <a href="#">Thailand &nbsp; ></a>
            <a href="#">Phuket Region &nbsp; ></a>
            <a href="#">Mueang Phuket District &nbsp; ></a>
            <a href="#">Rawai &nbsp; ></a>
        </div>
        <hr>
    </section>
    <section class="sec-all">
        <div class="sec-1 section">
            <p class="sec-p">support</p>
            <a href="#">Help Centre</a><br>
            <br>
            <a href="#">AirCover</a><br>
            <br>
            <a href="#">Anti-discrimination</a><br>
            <br>
            <a href="#">Disability support</a><br>
            <br>
            <a href="#">Cancellation options</a><br>
            <br>
            <a href="#">Report neighbourhood concern</a>
        </div>
        <div class="sec-2 section">
            <p class="sec-p">Hosting</p>
            <a href="#">Airbnb your home</a><br>
            <br>
            <a href="#">AirCover for Hosts</a><br>
            <br>
            <a href="#">Hosting resources</a><br>
            <br>
            <a href="#">Community forum</a><br>
            <br>
            <a href="#">Hosting responsibly</a>
        </div>
        <div class="sec-3 section">
            <p class="sec-p">Airbnb</p>
            <a href="#">Newsroom</a><br>
            <br>
            <a href="#">New features</a><br>
            <br>
            <a href="#">Careers</a><br>
            <br>
            <a href="#">Investors</a><br>
            <br>
            <a href="#">Airbnb.org emergency stays</a>
        </div>
    </section>
    <div class="f-info">
        <div class="f-info-brand">&copy; WanderLust Private Limited, Inc.</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a> &nbsp; &nbsp;
            <a href="/terms">Terms</a> &nbsp; &nbsp;
            <a href="/privacy">Sitemap</a> &nbsp; &nbsp;
            <a href="/terms">Company details</a>
            <hr>
        </div>

        <div class="f-info-socials">
                <i class="fa-brands fa-square-facebook"></i>
                <i class="fa-brands fa-square-instagram"></i>
                <i class="fa-brands fa-linkedin"></i>
        </div>
    </div>
</footer>